In [1]:
import pandas as pd
import numpy as np

TABLA 1

In [2]:
tabla1 =  pd.read_csv("C:/Users/Javi/Documents/bootcamp/proyectos/machine_learning/student_data.csv", sep=';')
tabla1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [10]:
# Crear un diccionario de mapeo para cada columna
mappings = {
    'famsize': {'GT3': 1, 'LE3': 0},
    'Pstatus': {'A': 1, 'T': 2},
    'Mjob': {'at_home': 1, 'health': 2, 'other': 3, 'services': 4, 'teacher': 5},
    'Fjob': {'at_home': 1, 'health': 2, 'other': 3, 'services': 4, 'teacher': 5},
    'reason': {'course': 1, 'home': 2, 'other': 3, 'reputation': 4},
    'guardian': {'mother': 1, 'father': 2, 'other': 3},
    'schoolsup': {'yes': 1, 'no': 0},
    'famsup': {'yes': 1, 'no': 0},
    'paid': {'yes': 1, 'no': 0},
    'activities': {'yes': 1, 'no': 0},
    'nursery': {'yes': 1, 'no': 0},
    'higher': {'yes': 1, 'no': 0},
    'internet': {'yes': 1, 'no': 0},
    'romantic': {'yes': 1, 'no': 0}
}

# Aplicar el mapeo a cada columna y reordenar las columnas
for column, mapping in mappings.items():
    new_column = column + '_num'
    tabla1[new_column] = tabla1[column].map(mapping)
    cols = tabla1.columns.tolist()
    col_index = cols.index(column)
    cols.insert(col_index + 1, cols.pop(cols.index(new_column)))
    tabla1 = tabla1[cols]

tabla1

,school,sex,age,address,famsize,famsize_num,Pstatus,Pstatus_num,Medu,Fedu,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,1,A,1,4,4,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,1,T,2,1,1,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,0,T,2,1,1,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,1,T,2,4,2,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,1,T,2,3,3,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,0,A,1,2,2,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,0,T,2,3,1,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,1,T,2,1,1,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,0,T,2,3,2,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,0,T,2,1,1,...,3,2,3,3,3,5,5,8,9,9

In [9]:
# Crear un diccionario de mapeo para cada columna
mappings = {
    'famsize': {'GT3': 1, 'LE3': 0},
    'Pstatus': {'A': 1, 'T': 2},
    'Mjob': {'at_home': 1, 'health': 2, 'other': 3, 'services': 4, 'teacher': 5},
    'Fjob': {'at_home': 1, 'health': 2, 'other': 3, 'services': 4, 'teacher': 5},
    'reason': {'course': 1, 'home': 2, 'other': 3, 'reputation': 4},
    'guardian': {'mother': 1, 'father': 2, 'other': 3},
    'schoolsup': {'yes': 1, 'no': 0},
    'famsup': {'yes': 1, 'no': 0},
    'paid': {'yes': 1, 'no': 0},
    'activities': {'yes': 1, 'no': 0},
    'nursery': {'yes': 1, 'no': 0},
    'higher': {'yes': 1, 'no': 0},
    'internet': {'yes': 1, 'no': 0},
    'romantic': {'yes': 1, 'no': 0}
}

# Aplicar el mapeo a cada columna
for column, mapping in mappings.items():
    new_column = column + '_num'
    tabla1[new_column] = tabla1[column].map(mapping)
    cols = tabla1.columns.tolist()
    col_index = cols.index(column)
    cols.insert(col_index + 1, cols.pop(cols.index(new_column)))
    tabla1 = tabla1[cols]

tabla1

,school,sex,age,address,famsize,famsize_num,Pstatus,Pstatus_num,Medu,Fedu,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,1,A,1,4,4,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,1,T,2,1,1,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,0,T,2,1,1,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,1,T,2,4,2,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,1,T,2,3,3,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,0,A,1,2,2,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,0,T,2,3,1,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,1,T,2,1,1,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,0,T,2,3,2,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,0,T,2,1,1,...,3,2,3,3,3,5,5,8,9,9

TABLA 2

In [3]:
tabla2 =  pd.read_csv("C:/Users/Javi/Documents/bootcamp/proyectos/machine_learning/StudentsPerformance.csv", sep=',')
tabla2

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [15]:
# Identificar las columnas que contienen letras
columns_to_map = tabla2.select_dtypes(include=['object']).columns

# Crear un diccionario de mapeo para cada columna
mappings = {}
for column in columns_to_map:
    unique_values = tabla2[column].unique()
    if len(unique_values) == 2:
        mappings[column] = {unique_values[0]: 0, unique_values[1]: 1}
    else:
        mappings[column] = {value: idx + 1 for idx, value in enumerate(sorted(unique_values))}

# Aplicar el mapeo a cada columna y reordenar las columnas
for column, mapping in mappings.items():
    new_column = column + '_num'
    tabla2[new_column] = tabla2[column].map(mapping)
    cols = tabla2.columns.tolist()
    col_index = cols.index(column)
    cols.insert(col_index + 1, cols.pop(cols.index(new_column)))
    tabla2 = tabla2[cols]

In [16]:
tabla2

,gender,gender_num,race/ethnicity,race/ethnicity_num,parental level of education,parental level of education_num,lunch,lunch_num,test preparation course,test preparation course_num,math score,reading score,writing score
0,female,0,group B,2,bachelor's degree,2,standard,0,none,0,72,72,74
1,female,0,group C,3,some college,5,standard,0,completed,1,69,90,88
2,female,0,group B,2,master's degree,4,standard,0,none,0,90,95,93
3,male,1,group A,1,associate's degree,1,free/reduced,1,none,0,47,57,44
4,male,1,group C,3,some college,5,standard,0,none,0,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,0,group E,5,master's degree,4,standard,0,completed,1,88,99,95
996,male,1,group C,3,high school,3,free/reduced,1,none,0,62,55,55
997,female,0,group C,3,high school,3,free/reduced,1,completed,1,59,71,65
998,female,0,group D,4,some college,5,standard,0,completed,1,68,78,77
999,female,0,group D,4,some college,5,free/reduced,1,none,0,77,86,86

para la tabla 2, haz # Crear un diccionario de mapeo para cada columna que contenga letras, en las que en caso de 2 valores diferentes se le asignaran 0 y 1 y en caso de mas se empezara la asignacion en 1 y # Aplicar el mapeo a cada columna y reordenar las columnas para que la nueva siga a la vieja

TABLA 3

In [4]:
tabla3 =  pd.read_csv("C:/Users/Javi/Documents/bootcamp/proyectos/machine_learning/academic_performance_analytics_complete.csv", sep=',')
tabla3

,Timestamp,Student_ID,Age,Gender,Ethnicity,SES,Location,Enrollment_Status,GPA,Attendance_Rate,...,Peer_Interaction_Score,Academic_Support_Utilization,Stress_Indicator_Score,Assignment_Completion_Rate,Learning_Satisfaction_Level,Academic_Performance_Category,Sentiment_Classification,Requirement_Fulfillment_Status,Course_Satisfaction_Level,Engagement_Level
0,2018-07-14 06:00:00,1678,25,0,White,Low,"Texas, Dallas",0,2.283531,0.9,...,0.341722,0,0.346726,0.7,Medium,High,Neutral,Partially Met,Neutral,Active
1,2018-09-27 03:00:00,3106,19,1,White,Low,"Texas, Dallas",0,2.787184,0.6,...,0.665257,0,0.957973,0.8,Medium,Medium,Negative,Partially Met,Neutral,Active
2,2022-04-25 00:00:00,4350,22,1,African American,Low,"Texas, Dallas",0,2.689566,0.8,...,0.501590,0,0.431574,0.7,Low,Medium,Neutral,Fully Met,Satisfied,Moderate
3,2024-02-24 10:00:00,2890,20,0,White,Medium,"Texas, Dallas",0,2.486635,0.6,...,0.665658,0,0.633358,0.8,High,High,Neutral,Partially Met,Unsatisfied,Active
4,2020-10-09 23:00:00,4019,25,1,White,Medium,"Texas, Dallas",0,3.258069,1.0,...,0.555273,0,0.581689,0.8,Medium,Medium,Positive,Partially Met,Neutral,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61340,2019-10-29 18:00:00,3885,26,1,White,Low,"Texas, Dallas",0,2.149150,0.7,...,0.481441,0,0.627292,0.9,High,Low,Positive,Fully Met,Satisfied,Moderate
61341,2020-09-11 18:00:00,2972,29,1,White,High,"Texas, Dallas",1,2.452148,0.9,...,0.621769,0,0.990375,0.8,Medium,High,Neutral,Partially Met,Neutral,Active
61342,2018-11-14 12:00:00,3397,19,1,White,Low,"Texas, Dallas",1,2.372740,0.9,...,0.498190,0,0.469423,0.8,High,Medium,Positive,Partially Met,Satisfied,Active
61343,2023-03-15 22:00:00,4617,25,0,White,High,"Texas, Dallas",0,2.654484,0.8,...,0.420456,1,0.633345,0.9,High,Medium,Neutral,Partially Met,Satisfied,Inactive
61344,2021-12-19 20:00:00,3298,29,0,African American,Medium,"Texas, Dallas",0,2.708859,1.0,...,0.612100,0,0.662325,0.8,High,Low,Negative,Unmet,Satisfied,Active

In [17]:
# Identificar las columnas que contienen letras
columns_to_map = tabla3.select_dtypes(include=['object']).columns

# Crear un diccionario de mapeo para cada columna
mappings = {}
for column in columns_to_map:
    unique_values = tabla3[column].unique()
    if len(unique_values) == 2:
        mappings[column] = {unique_values[0]: 0, unique_values[1]: 1}
    else:
        mappings[column] = {value: idx + 1 for idx, value in enumerate(sorted(unique_values))}

# Aplicar el mapeo a cada columna y reordenar las columnas
for column, mapping in mappings.items():
    new_column = column + '_num'
    tabla3[new_column] = tabla3[column].map(mapping)
    cols = tabla3.columns.tolist()
    col_index = cols.index(column)
    cols.insert(col_index + 1, cols.pop(cols.index(new_column)))
    tabla3 = tabla3[cols]

tabla3

C:\Users\Javi\AppData\Local\Temp\ipykernel_21216\2167474629.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla3[new_column] = tabla3[column].map(mapping)

,Timestamp,Timestamp_num,Student_ID,Age,Gender,Ethnicity,Ethnicity_num,SES,SES_num,Location,...,Academic_Performance_Category,Academic_Performance_Category_num,Sentiment_Classification,Sentiment_Classification_num,Requirement_Fulfillment_Status,Requirement_Fulfillment_Status_num,Course_Satisfaction_Level,Course_Satisfaction_Level_num,Engagement_Level,Engagement_Level_num
0,2018-07-14 06:00:00,4663,1678,25,0,White,5,Low,2,"Texas, Dallas",...,High,1,Neutral,2,Partially Met,2,Neutral,1,Active,1
1,2018-09-27 03:00:00,6460,3106,19,1,White,5,Low,2,"Texas, Dallas",...,Medium,3,Negative,1,Partially Met,2,Neutral,1,Active,1
2,2022-04-25 00:00:00,37801,4350,22,1,African American,1,Low,2,"Texas, Dallas",...,Medium,3,Neutral,2,Fully Met,1,Satisfied,2,Moderate,3
3,2024-02-24 10:00:00,53891,2890,20,0,White,5,Medium,3,"Texas, Dallas",...,High,1,Neutral,2,Partially Met,2,Unsatisfied,3,Active,1
4,2020-10-09 23:00:00,24312,4019,25,1,White,5,Medium,3,"Texas, Dallas",...,Medium,3,Positive,3,Partially Met,2,Neutral,1,Active,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61340,2019-10-29 18:00:00,16003,3885,26,1,White,5,Low,2,"Texas, Dallas",...,Low,2,Positive,3,Fully Met,1,Satisfied,2,Moderate,3
61341,2020-09-11 18:00:00,23635,2972,29,1,White,5,High,1,"Texas, Dallas",...,High,1,Neutral,2,Partially Met,2,Neutral,1,Active,1
61342,2018-11-14 12:00:00,7621,3397,19,1,White,5,Low,2,"Texas, Dallas",...,Medium,3,Positive,3,Partially Met,2,Satisfied,2,Active,1
61343,2023-03-15 22:00:00,45599,4617,25,0,White,5,High,1,"Texas, Dallas",...,Medium,3,Neutral,2,Partially Met,2,Satisfied,2,Inactive,2
61344,2021-12-19 20:00:00,34773,3298,29,0,African American,1,Medium,3,"Texas, Dallas",...,Low,2,Negative,1,Unmet,3,Satisfied,2,Active,1

In [19]:
tabla4 =  pd.read_csv("C:/Users/Javi/Documents/bootcamp/proyectos/machine_learning/student_prediction.csv", sep=',')
tabla4

,STUDENTID,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3